# .env.example
NEXTAUTH_URL=your-value-here
NEXTAUTH_SECRET=your-value-here
GOOGLE_CLIENT_ID=your-value-here
GOOGLE_CLIENT_SECRET=your-value-here
GITHUB_CLIENT_ID=your-value-here
GITHUB_CLIENT_SECRET=your-value-here
DATABASE_URL=your-value-here
STACKSPOT_CLIENT_ID=your-value-here
STACKSPOT_CLIENT_KEY=your-value-here
STACKSPOT_AGENT_ID=your-value-here
